<!-- START CATEGORY -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h3 class="title">Search Jobs Database </h3>
                    <p class="text-muted">Make use of our jobs databases. We'll quickly provide you with the
                        right jobs for you.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        {% comment %} <div class="row"> {% endcomment %}
            {% comment %} {% for job_Categories in  %}{% endfor %}
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <div class="popu-category-box rounded text-center">
                    <div class="popu-category-icon icons-md">
                        <i class="uim uim-layers-alt"></i>
                    </div>
                    <div class="popu-category-content mt-4">
                        <a href="job-categories.html" class="text-dark stretched-link">
                            <h5 class="fs-18">IT & Software</h5>
                        </a>
                        <p class="text-muted mb-0">2024 Jobs</p>
                    </div>
                </div><!--end popu-category-box-->
            </div>
            <!--end col-->
        </div> {% endcomment %}
        <!--end row-->
        <div class="row">
            <div class="col-lg-12">
                <div class="mt-5 text-center">
                    <a href="{% url 'job_search' %}" class="btn btn-primary btn-hover">Click To Search<i class="uil uil-arrow-right ms-1"></i></a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div>
    <!--end container-->
</section>
<!-- END CATEGORY -->