{% load static %}
<!-- START CLIENT -->
<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="text-center p-3">
                    <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Woocommerce">
                        <img src="{% static 'assets/images/logo/logo-01.png' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-2">
                <div class="text-center p-3">
                    <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Envato">
                        <img src="{% static 'assets/images/logo/logo-02.png' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-2">
                <div class="text-center p-3">
                    <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Magento">
                        <img src="https://cdn.cdnlogo.com/logos/l/37/linkedin.svg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-2">
                <div class="text-center p-3">
                    <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Wordpress">
                        <img src="{% static 'assets/images/logo/logo-04.png' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-2">
                <div class="text-center p-3">
                    <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Generic">
                        <img src="https://cdn.cdnlogo.com/logos/i/64/indeed.svg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="text-center p-3">
                    <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Reveal">
                        <img src="{% static 'assets/images/logo/logo-06.png' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>
<!-- END CLIENT -->