{% extends 'base.html' %}
{% load widget_tweaks %}
{% load filter_tags %}
{% load static %}
{% block title %} Job Search {% endblock title %}

{% block page-content %}
    <!-- Start home -->
    <section class="page-title-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h3 class="mb-4">Job Search Page</h3>
                        <div class="page-next">
                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                    <li class="breadcrumb-item">Pages</li>
                                    <li class="breadcrumb-item active" aria-current="page"> Job Search</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->

    {% include 'sections/Home/shape.html' %}

    <!-- Start Job List -->
    <!-- START JOB-LIST -->
    <section class="section">
        <div class="container">
            <div class="row">
                <h6 class="fs-16 mb-3">Filter</h6>
                
                <div class="col-lg-9">
                    <div class="me-lg-5">
                        <div class="job-list-header">
                            <form action="">
                                <div class="row g-2">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="filler-job-form">
                                            <i class="uil uil-briefcase-alt"></i>
                                            {% render_field listing_filter.form.job_company class+="form-control filter-job-input-box" placeholder="Job, Company"%}
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-3 col-md-6">
                                        <div class="filler-job-form">
                                            <i class="uil uil-location-point"></i>
                                            {% render_field listing_filter.form.location class+="form-control" placeholder="Location"%}
                                            {% comment %} {% include 'sections/countries.html' %} {% endcomment %}
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-3 col-md-6">
                                        <div class="filler-job-form">
                                            <i class="uil uil-clipboard-notes"></i>
                                            {% render_field listing_filter.form.category class+="form-control" placeholder="Category"%}
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-11 col-md-6">
                                        <button class="btn btn-primary w-100">
                                            <i class="uil uil-search"></i> Search
                                        </button>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </form>
                        </div><!--end job-list-header-->
                        <div class="wedget-popular-title mt-4">
                            <!-- <h6>Popular</h6> -->
                            <div class="col-lg-12">
                                <h6 class="fs-16 mb-3">Custom Filter Tags</h6>
                            </div>
                            <ul class="list-inline">
                                {% for custom_tag in filter_tags %}
                                <li class="list-inline-item">
                                    <div class="number popular-box d-flex align-items-center">
                                        <div class="number flex-shrink-0 me-2">

                                        </div>
                                        <a href="{{custom_tag.search_url}}" class="primary-link stretched-link"><h6 class="fs-14 mb-0">{{custom_tag.tag_name}}</h6></a>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
    
                        <!-- Job-list -->
                        <div>
                            {% comment %} show search results here {% endcomment %}
                            {% for job in job_per_page %}
                                <div class="job-box bookmark-post card mt-5">
                                    <div class="p-4">
                                        <div class="row">
                                            <div class="col-lg-1">
                                                <a href="{% url 'job_detail' slug=job.slug %}"><img src="{{job.logo}}" alt="" class="img-fluid rounded-3"></a>
                                            </div><!--end col-->
                                            <div class="col-lg-10">
                                                <div class="mt-3 mt-lg-0">
                                                    <h5 class="fs-17 mb-1"><a href="{% url 'job_detail' slug=job.slug %}" class="text-dark">{{job.title}}</a> <small class="text-muted fw-normal">{{job.rating|default_if_none:"&#11088; NA"}}</small></h5>
                                                    <ul class="list-inline mb-0">
                                                        <li class="list-inline-item">
                                                            <p class="text-muted fs-14 mb-0">{{job.company}}</p>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> {{job.location}}</p>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <p class="text-muted fs-14 mb-0"><i class="uil uil-wallet"></i>{{job.salary|default_if_none:"NA"}}</p>
                                                        </li>
                                                    </ul>
                                                    <div class="mt-2">
                                                        <span class="badge bg-soft-success mt-1">{{job.contract_type|default_if_none:"NA"}}</span>
                                                    </div>
                                                </div>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                        {% comment %} <div class="favorite-icon">
                                            <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                                        </div> {% endcomment %}
                                    </div>
                                    <div class="p-3 bg-light">
                                        <div class="row justify-content-between">
                                            <div class="col-md-8">
                                                <div>
                                                    <ul class="list-inline mb-0">
                                                        <li class="list-inline-item"><i class="uil uil-tag"></i> <b>Keywords :</b></li>
                                                        {% with job.title|split:" " as keywords %}
                                                            {% for keyword in keywords %}
                                                                <li class="list-inline-item"><a href="javascript:void(0)" class="primary-link text-muted"></a>{{keyword}},</li>
                                                            {% endfor %}
                                                        {% endwith %}
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-md-3">
                                                <div class="text-md-end">
                                                    <a href="{{job.url_link}}" class="primary-link" target="_blank">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                </div>
                                <!--end job-box-->
                            {% endfor %}
    
                        </div>
                        <!-- End Job-list -->
                        
                        <!-- pagination start-->
                        <div class="row">
                            <div class="col-lg-12 mt-4 pt-2">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination job-pagination mb-0 justify-content-center">
                                        {% if job_per_page.has_previous %}
                                            <li class="page-item">
                                                <a href="?page={{job_per_page.previous_page_number}}" class="page-link" href="javascript:void(0)" tabindex="-1">
                                                    <i class="mdi mdi-chevron-double-left fs-15"></i>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                                    <i class="mdi mdi-chevron-double-left fs-15"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                        
                                        <li class="page-item active">
                                            <a class="page-link" href="javascript:void(0)">
                                                {{job_per_page.number}}
                                            </a>
                                        </li>
                                        
                                        {% comment %} <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                                        <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                                        <li class="page-item"><a class="page-link" href="?page=4">4</a></li> {% endcomment %}

                                        {% if job_per_page.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{job_per_page.next_page_number}}">
                                                    <i class="mdi mdi-chevron-double-right fs-15"></i>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="job_per_page.next_page_number">
                                                    <i class="mdi mdi-chevron-double-right fs-15"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                                <h6>Page {{job_per_page.number}} of {{job_per_page.paginator.num_pages}}</h6>
                            </div><!--end col-->
                        </div><!-- end row -->
                    </div>

                </div>
                {% comment %} {% include 'sections/job_whole_list_side_bar.html' %} {% endcomment %}
                
            </div>
        </div>
    </section>
    <!-- END JOB-LIST -->
    {% include 'apply_modal.html' %}
</div>

{% endblock page-content %}
{% block other-content %}
    {% include 'sections/Home/subscriber.html' %}
    {% include 'sections/Home/footer.html' %}
{% endblock other-content %}

{% block script %}
<!-- JAVASCRIPT -->
<script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"</script>
<script src="unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>
<!-- Choice Js -->
<script src="{% static 'assets/libs/choices.js/public/assets/scripts/choices.min.js' %}"</script>
<!-- Nouislider Js -->
<script src="{% static 'assets/libs/nouisliderribute/nouislider.min.js' %}"></script>
<script src="{% static 'assets/js/pages/area-filter-range.init.js' %}"></script>
<!-- Checkbox Init Js -->
<script src="{% static 'assets/js/pages/checkbox.init.js' %}"></script>
<!-- Job Init Js -->
<script src="{% static 'assets/js/pages/job-list.init.js' %}"></script>
<!-- Switcher Js -->
<script src="{% static 'assets/js/pages/switcher.init.js' %}"</script>
<!-- App Js -->
<script src="{% static 'assets/js/app.js' %}"</script>
<!--Paginator JS-->
{% comment %} <script src="{% static 'assets/js/paginator.js' %}"</script> {% endcomment %}
{% endblock script %}



