{% load static %}
<!-- START PROCESS -->
<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-title me-5">
                    <h3 class="title">How It Work</h3>
                    <p class="text-muted">{% lorem 1 p random %}</p>
                    <div class="process-menu nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                            <div class="d-flex">
                                <div class="number flex-shrink-0">
                                    1
                                </div>
                                <div class="flex-grow-1 text-start ms-3">
                                    <h5 class="fs-18">Register an account</h5>
                                    <p class="text-muted mb-0">{% lorem 1 p random %}</p>
                                </div>
                            </div>
                        </a>
                        <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                            <div class="d-flex">
                                <div class="number flex-shrink-0">
                                    2
                                </div>
                                <div class="flex-grow-1 text-start ms-3">
                                    <h5 class="fs-18">Find your job</h5>
                                    <p class="text-muted mb-0">There are many variations of passages of avaibookmark-label, but the majority
                                        alteration in some form.</p>
                                </div>
                            </div>
                        </a>
                        <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                            <div class=" d-flex">
                                <div class="number flex-shrink-0">
                                    3
                                </div>
                                <div class="flex-grow-1 text-start ms-3">
                                    <h5 class="fs-18">Apply for job</h5>
                                    <p class="text-muted mb-0">It is a long established fact that a reader will be distracted by the
                                        readable content of a page.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-6">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <img src="{% static 'assets/images/process-01.png' %}" alt="" class="img-fluid">
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <img src="{% static 'assets/images/process-02.png' %}" alt="" class="img-fluid">
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <img src="{% static 'assets/images/process-03.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div> <!--end row-->
    </div><!--end container-->
</section>
<!-- END PROCESS -->