{% load static %}
<!-- START SUBSCRIBE -->
<section class="bg-subscribe">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <div class="text-center text-lg-start">
                    <h4 class="text-white">Get New Jobs Notification!</h4>
                    <p class="text-white-50 mb-0">Subscribe & get all related jobs notification.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mt-4 mt-lg-0">
                    <form class="subscribe-form" action="#">
                        <div class="input-group justify-content-center justify-content-lg-end">
                            <input type="text" class="form-control" id="subscribe" placeholder="Enter your email">
                            <button class="btn btn-primary" type="button" id="subscribebtn">Subscribe</button>
                        </div>
                    </form><!--end form-->
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
    <div class="email-img d-none d-lg-block">
        <img src="{% static 'assets/images/subscribe.png' %}" alt="" class="img-fluid">
    </div>
</section>
<!-- END SUBSCRIBE -->