<!-- START SIDE-BAR -->
<div class="col-lg-3">
    <div class="side-bar mt-5 mt-lg-0">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="locationOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#location" aria-expanded="true" aria-controls="location">
                    Location
                </button>
                </h2>
                <div id="location" class="accordion-collapse collapse show" aria-labelledby="locationOne">
                    <div class="accordion-body">
                        <div class="side-title">
                            <div class="mb-3">
                                <form class="position-relative">
                                    <input class="form-control" type="search" placeholder="Search...">
                                    <button class="bg-transparent border-0 position-absolute top-50 end-0 translate-middle-y me-2" type="submit"><span class="mdi mdi-magnify text-muted"></span></button>
                                </form>
                            </div>
                            <div class="area-range">
                                <div class="form-label mb-3">Area Range: <span class="example-val mt-2" id="slider1-span">0</span> miles</div>
                                <div id="slider1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end accordion-item -->
    
            <div class="accordion-item mt-4">   
            <h2 class="accordion-header" id="experienceOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#experience" aria-expanded="true" aria-controls="experience">
                    Work experience
                </button>
            </h2>
            <div id="experience" class="accordion-collapse collapse show" aria-labelledby="experienceOne">
                <div class="accordion-body">
                    <div class="side-title">
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" />
                            <label class="form-check-label ms-2 text-muted" for="flexCheckChecked1">No experience</label>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked />
                            <label class="form-check-label ms-2 text-muted" for="flexCheckChecked2">0-3 years</label>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" />
                            <label class="form-check-label ms-2 text-muted" for="flexCheckChecked3">3-6 years</label>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" />
                            <label class="form-check-label ms-2 text-muted" for="flexCheckChecked4">More than 6 years</label>
                        </div>
                    </div>
                </div>
            </div>
            </div><!-- end accordion-item -->
    
            <div class="accordion-item mt-3">
                <h2 class="accordion-header" id="jobType">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#jobtype" aria-expanded="false" aria-controls="jobtype">
                        Type of employment
                    </button>
                </h2>
                <div id="jobtype" class="accordion-collapse collapse show" aria-labelledby="jobType">
                    <div class="accordion-body">
                        <div class="side-title">
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6" checked>
                                <label class="form-check-label ms-2 text-muted" for="flexRadioDefault6">
                                    Freelance
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                <label class="form-check-label ms-2 text-muted" for="flexRadioDefault2">
                                    Full Time
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                <label class="form-check-label ms-2 text-muted" for="flexRadioDefault3">
                                    Internship
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                                <label class="form-check-label ms-2 text-muted" for="flexRadioDefault4">
                                    Part Time
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end accordion-item -->
    
            <div class="accordion-item mt-3">
                <h2 class="accordion-header" id="datePosted">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#dateposted" aria-expanded="false" aria-controls="dateposted">
                        Date Posted
                    </button>
                </h2>
                <div id="dateposted" class="accordion-collapse collapse show" aria-labelledby="datePosted">
                    <div class="accordion-body">
                        <div class="side-title form-check-all">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkAll" value="" />
                                <label class="form-check-label ms-2 text-muted" for="checkAll">
                                    All
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox"  name="datePosted"  value="last" id="flexCheckChecked5" checked />
                                <label class="form-check-label ms-2 text-muted" for="flexCheckChecked5">
                                    Last Hour
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" name="datePosted" value="last" id="flexCheckChecked6" />
                                <label class="form-check-label ms-2 text-muted" for="flexCheckChecked6">
                                    Last 24 hours
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" name="datePosted" value="last" id="flexCheckChecked7" />
                                <label class="form-check-label ms-2 text-muted" for="flexCheckChecked7">
                                    Last 7 days
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" name="datePosted" value="last" id="flexCheckChecked8" />
                                <label class="form-check-label ms-2 text-muted" for="flexCheckChecked8">
                                    Last 14 days
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" name="datePosted" value="last" id="flexCheckChecked9" />
                                <label class="form-check-label ms-2 text-muted" for="flexCheckChecked9">
                                    Last 30 days
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end accordion-item -->
    
            <div class="accordion-item mt-3">
                <h2 class="accordion-header" id="tagCloud">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tagcloud" aria-expanded="false" aria-controls="tagcloud">
                        Tags Cloud
                    </button>
                </h2>
                <div id="tagcloud" class="accordion-collapse collapse show" aria-labelledby="tagCloud">
                    <div class="accordion-body">
                        <div class="side-title">
                            <a href="javascript:void(0)" class="badge tag-cloud fs-13 mt-2">design</a>
                            <a href="javascript:void(0)" class="badge tag-cloud fs-13 mt-2">marketing</a>
                            <a href="javascript:void(0)" class="badge tag-cloud fs-13 mt-2">business</a>
                            <a href="javascript:void(0)" class="badge tag-cloud fs-13 mt-2">developer</a>
                        </div>
                    </div>
                </div>
            </div><!-- end accordion-item -->
    
        </div><!--end accordion-->
        
    </div><!--end side-bar-->
</div>
<!-- END SIDE-BAR -->