{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content=" " />
        <meta name="keywords" content="" />

        <title> 
            JobBoard - {% block title %}{% endblock title %}
        </title>

        {% block styles %}
            <!-- App favicon -->
            <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
            <!-- Choise Css -->
            <link rel="stylesheet" href="{% static 'assets/libs/choices.js/public/assets/styles/choices.min.css' %}">
            <!-- Swiper Css -->
            <link rel="stylesheet" href="{% static 'assets/libs/swiper/swiper-bundle.min.css' %}">
            <!-- Bootstrap Css -->
            <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
            <!-- Icons Css -->
            <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
            <!-- App Css-->
            <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.5.55/fonts/materialdesignicons-webfont.woff2" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.5.55/css/materialdesignicons.min.css" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.5.55/fonts/materialdesignicons-webfont.woff" rel="stylesheet">
        {% endblock styles %}

    </head>

    <body>
        {% comment %} {% include "page_loader.html" %} {% endcomment %}
        
        <div> <!-- START layout-wrapper -->
            {% include "nav_bar.html" %}
            {% include "signup_modal.html" %}
                <div class="main-content">
                    <div class="page-content">
                        {% block page-content %}
                        {% endblock page-content %}
                    </div>
                    {% block other-content %}
                    {% endblock other-content %}
                    
                </div>
        </div> <!-- END layout-wrapper -->

        {% block script %}
        {% endblock script %}
    </body>
        
</html>