{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %} 

{% comment %} {% block pageloader %}
  {% include "page_loader.html" %}
{% endblock pageloader %} {% endcomment %}

{% block pagestart %}
      {% block top-bar %}
        {% include "top_bar.html" %}
      {% endblock top-bar %}
      {% block nav-bar %}
        {% include "nav_bar.html" %}
      {% endblock nav-bar %}

      {% block signup-modal %}
        {% include "signup_modal.html" %}
      {% endblock signup-modal %}

      <div class="main-content">
        <div class="page-content">
          {% include 'sections/Home/home.html' %}
          {% include 'sections/Home/shape.html' %}
          {% include 'sections/Home/category.html' %}
        </div>
      </div>
{% endblock pagestart %}

{% block script %} 
    <!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"</script>
    <script src="../../../unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>
    <!-- Choice Js -->
    <script src="{% static 'assets/libs/choices.js/public/assets/scripts/choices.min.js' %}"</script>
    <!-- Swiper Js -->
    <script src="{% static 'assets/libs/swiper/swiper-bundle.min.js' %}"</script>
    <!-- Index Js -->
    <script src="{% static 'assets/js/pages/job-list.init.js' %}"</script>
    <!-- Switcher Js -->
    <script src="{% static 'assets/js/pages/switcher.init.js' %}"</script>
    <script src="{% static 'assets/js/pages/index.init.js' %}"</script>
    <!-- App Js -->
    <script src="{% static 'assets/js/app.js' %}"</script> 
{% endblock script %}


