{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %} 


{% block page-content %}
      {% include 'sections/Home/home.html' %}
      {% include 'sections/Home/shape.html' %}
      {% include 'sections/Home/category.html' %}
      {% include 'sections/Home/job_list.html' %}

      {% include 'sections/Home/start_process.html' %}
      {% include 'sections/Home/cta.html' %} 
{% endblock page-content %}
{% block other-content %}
    {% include 'sections/Home/client.html' %}
    {% include 'sections/Home/subscriber.html' %}
    {% include 'sections/Home/footer.html' %}
{% endblock other-content %}
{% block script %} 
    <!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"</script>
    <script src="unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>
    <!-- Choice Js -->
    <script src="{% static 'assets/libs/choices.js/public/assets/scripts/choices.min.js' %}"</script>
    <!-- Swiper Js -->
    <script src="{% static 'assets/libs/swiper/swiper-bundle.min.js' %}"</script>
    <!-- Index Js -->
    <script src="{% static 'assets/js/pages/job-list.init.js' %}"</script>
    <!-- Switcher Js -->
    <script src="{% static 'assets/js/pages/switcher.init.js' %}"</script>
    <script src="{% static 'assets/js/pages/index.init.js' %}"</script>
    <!-- App Js -->
    <script src="{% static 'assets/js/app.js' %}"</script> 
{% endblock script %}


