{% load static %}
<!-- START TOP-BAR -->
<div class="top-bar">
    <div class="container-fluid custom-container">
        <div class="row g-0 align-items-center">
            <div class="col-md-7">
                <ul class="list-inline mb-0 text-center text-md-start">
                    <li class="list-inline-item">
                        <p class="fs-13 mb-0"> <i class="mdi mdi-map-marker"></i> Your Location: <a href="javascript:void(0)" class="text-dark">{{user_country}}</a></p>
                    </li>
                </ul>
            </div>
            <!--end col-->
            <div class="col-md-5">
                <ul class="list-inline mb-0 text-center text-md-end">
                    <li class="list-inline-item py-2 me-2 align-middle">
                        <a href="#signupModal" class="text-dark fw-medium fs-13" data-bs-toggle="modal"><i class="uil uil-lock"></i>
                            Sign Up</a>
                    </li>
                    <li class="list-inline-item align-middle">
                        <div class="dropdown d-inline-block language-switch">
                            <button type="button" class="btn" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <img id="header-lang-img" src="{% static 'assets/images/flags/us.jpg' %}" alt="Header Language" height="16" />
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="eng">
                                    <img src="{% static 'assets/images/flags/us.jpg' %}" alt="user-image" class="me-1" height="12" />
                                    <span class="align-middle">English</span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>
<!-- END TOP-BAR -->
<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
    <div class="container-fluid custom-container">
        <a class="navbar-brand text-dark fw-bold me-auto" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo-dark.png' %}" height="22" alt="" class="logo-dark" />
            <img src="{% static 'assets/images/logo-light.png' %}" height="22" alt="" class="logo-light" />
        </a>
        <div>
            <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto navbar-center">
                <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link" href="{% url 'home' %}" id="homedrop" role="button">
                        Home <div class="arrow-down"></div>
                    </a>
                </li>
                {% comment %} <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link" href="javascript:void(0)" id="jobsdropdown" role="button" data-bs-toggle="dropdown">
                        Company <div class="arrow-down"></div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="jobsdropdown">
                        <li><a class="dropdown-item" href="about.html">About Us</a></li>
                        <li><a class="dropdown-item" href="services.html">Services</a></li>
                        <li><a class="dropdown-item" href="team.html">Team</a></li>
                        <li><a class="dropdown-item" href="pricing.html">Pricing</a></li>
                        <a class="dropdown-item" href="privacy-policy.html">Priacy & Policy</a>
                        <li><a class="dropdown-item" href="faqs.html">Faqs</a></li>
                    </ul>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                </li>
            </ul><!--end navbar-nav-->
        </div>
        <!--end navabar-collapse-->
        <ul class="header-menu list-inline d-flex align-items-center mb-0">
            <li class="list-inline-item dropdown">
                <a href="javascript:void(0)" class="header-item" id="userdropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">
                        <img src="{% static 'assets/images/profile.jpg' %}" alt="mdo" width="35" height="35" class="rounded-circle me-1"> <span class="d-none d-md-inline-block fw-medium">Hi, kavyabhargava</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown">
                    <li><a class="dropdown-item" href="manage-jobs.html">Manage Jobs</a></li>
                    <li><a class="dropdown-item" href="bookmark-jobs.html">Bookmarks Jobs</a></li>
                    <li><a class="dropdown-item" href="profile.html">My Profile</a></li>
                    <li><a class="dropdown-item" href="sign-out.html">Logout</a></li>
                </ul>
            </li>
        </ul><!--end header-menu-->
    </div>
    <!--end container-->
</nav>
<!-- Navbar End -->
