<!-- START TOP-BAR -->
<div class="top-bar">
    <div class="container-fluid custom-container">
        <div class="row g-0 align-items-center">
            <div class="col-md-7">
                <ul class="list-inline mb-0 text-center text-md-start">
                    <li class="list-inline-item">
                        <p class="fs-13 mb-0"> <i class="mdi mdi-map-marker"></i> Your Location: <a href="javascript:void(0)" class="text-dark">{{user_country}}</a></p>
                    </li>
                </ul>
            </div>
            <!--end col-->
            <div class="col-md-5">
                <ul class="list-inline mb-0 text-center text-md-end">
                    <li class="list-inline-item py-2 me-2 align-middle">
                        <a href="#signupModal" class="text-dark fw-medium fs-13" data-bs-toggle="modal"><i class="uil uil-lock"></i>
                            Sign Up</a>
                    </li>
                </ul>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>
<!-- END TOP-BAR -->