<!-- START TOP-BAR -->
<div class="top-bar">
    <div class="container-fluid custom-container">
        <div class="row g-0 align-items-center">
            <div class="col-md-7">
                <ul class="list-inline mb-0 text-center text-md-start">
                    <li class="list-inline-item">
                        <p class="fs-13 mb-0"> <i class="mdi mdi-map-marker"></i> Your Location: <a href="javascript:void(0)" class="text-dark">New Caledonia</a></p>
                    </li>
                    <li class="list-inline-item">
                        <ul class="topbar-social-menu list-inline mb-0">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="social-link"><i
                                        class="uil uil-whatsapp"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="social-link"><i
                                        class="uil uil-facebook-messenger-alt"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="social-link"><i
                                        class="uil uil-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="social-link"><i
                                        class="uil uil-envelope"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="social-link"><i
                                        class="uil uil-twitter-alt"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--end col-->
            <div class="col-md-5">
                <ul class="list-inline mb-0 text-center text-md-end">
                    <li class="list-inline-item py-2 me-2 align-middle">
                        <a href="#signupModal" class="text-dark fw-medium fs-13" data-bs-toggle="modal"><i class="uil uil-lock"></i>
                            Sign Up</a>
                    </li>
                </ul>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>
<!-- END TOP-BAR -->