{% extends 'base.html' %}
{% load static %}
{% load filter_tags %}
{% block title %}{{job.slug}}{% endblock title %}

{% block page-content %}
    <!-- Start home -->
    <section class="page-title-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h3 class="mb-4">Job Details</h3>
                        <div class="page-next">
                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> Job Details </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->
    {% include 'sections/Home/shape.html' %}
    <!-- START JOB-DEATILS -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card job-detail overflow-hidden">
                        <div>
                            <img src="{% static 'assets/images/job-detail.jpg' %}" alt="" class="img-fluid">
                            <div class="job-details-compnay-profile">
                                <img src="{{job.logo}}" alt="" class="img-fluid rounded-3 rounded-3" width="70" height="70">
                            </div>
                        </div>
                        <div class="card-body p-4">
                            <div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 class="mb-1">{{job.title}}</h5>
                                        <ul class="list-inline text-muted mb-0">
                                            <li class="list-inline-item">
                                                {% comment %} <i class="mdi mdi-account"></i> 8 Vacancy {% endcomment %}
                                            </li>
                                            <li class="list-inline-item text-warning review-rating">
                                                <span class="badge bg-warning">{{job.rating|default_if_none:"N/A"}}</span> <i class="mdi mdi-star align-middle"></i><i class="mdi mdi-star align-middle"></i><i class="mdi mdi-star align-middle"></i><i class="mdi mdi-star align-middle"></i><i class="mdi mdi-star-half-full align-middle"></i>
                                            </li>
                                        </ul>
                                    </div><!--end col-->
                                </div><!--end row-->    
                            </div>

                            <div class="mt-4">
                                <div class="row g-2">
                                    <div class="col-lg-3">
                                        <div class="border rounded-start p-3">
                                            <p class="text-muted mb-0 fs-13">Company</p>
                                            <p class="fw-medium fs-15 mb-0">{{job.company|default_if_none:"N/A"}}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="border p-3">
                                            <p class="text-muted fs-13 mb-0">Employee type</p>
                                            <p class="fw-medium mb-0">{{job.contract_type|default_if_none:"N/A"}}</p>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-3">
                                        <div class="border rounded-end p-3">
                                            <p class="text-muted fs-13 mb-0">Offer Salary</p>
                                            <p class="fw-medium mb-0">{{job.salary|default_if_none:"N/A"}}</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="border rounded-end p-3">
                                            <p class="text-muted fs-13 mb-0">Job Source</p>
                                            <p class="fw-medium mb-0"><b>{{job.source|default_if_none:"N/A"}}</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end Experience-->
                            {% if job.source == 'Indeed' %}
                                {% if job.requirement != None and job.duties == None %}
                                    <div class="mt-4">
                                        <h5 class="mb-3">Job Description</h5>
                                        <div class="job-detail-desc">
                                            <p class="text-muted mb-0">{{job.duties}}</p>
                                        </div>
                                    </div>

                                    <div class="mt-4">
                                        <h5 class="mb-3">Requirements</h5>
                                        <div class="job-detail-desc mt-2">
                                            
                                                {% for line in requirement %}
                                                    <p class="text-muted mb-0">{{line}}</p>
                                                {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="mt-4">
                                        <h5 class="mb-3">Job Description</h5>
                                        <div class="job-detail-desc">
                                            <p class="text-muted mb-0">{{job.full_job_qualifications_duties_all}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                
                            {% else %}
                                <div class="mt-4">
                                    <h5 class="mb-3">Job Description</h5>
                                    <div class="job-detail-desc">
                                        <p class="text-muted mb-0">{{job.duties|default_if_none:" "}}</p>
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <h5 class="mb-3">{% if job.description %}Description{% else %} {% endif %}</h5>
                                    <div class="job-detail-desc mt-2">
                                        <p class="text-muted">{{job.description|default_if_none:" "}}</p>
                                        {% comment %} <ul class="job-detail-list list-unstyled mb-0 text-muted">
                                            <li><i class="uil uil-circle"></i> Have sound knowledge of commercial activities.</li>
                                            <li><i class="uil uil-circle"></i> Build next-generation web applications with a focus on the client side</li> 
                                            <li><i class="uil uil-circle"></i> Work on multiple projects at once, and consistently meet draft deadlines</li> 
                                            <li><i class="uil uil-circle"></i> have already graduated or are currently in any year of study</li> 
                                            <li><i class="uil uil-circle"></i> Revise the work of previous designers to create a unified aesthetic for our brand materials</li> 
                                        </ul> {% endcomment %}
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <h5 class="mb-3">Requirements</h5>
                                    <div class="job-detail-desc mt-2">
                                        <p class="text-muted">{{job.requirements}}</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div><!--end card-body-->
                    </div><!--end job-detail-->

                    <div class="mt-4">
                        <h5>Related Jobs</h5>
                        {% for job in related_jobs %}
                            <div class="job-box card mt-4">
                                <div class="p-4">
                                    <div class="row">
                                        <div class="col-lg-1">
                                            <img src="{{job.logo}}" alt="" class="img-fluid rounded-3">
                                        </div><!--end col-->
                                        <div class="col-lg-10">
                                            <div class="mt-3 mt-lg-0">
                                                <h5 class="fs-17 mb-1"><a href="{% url 'job_detail' slug=job.slug %}" class="text-dark">{{job.title}}</a> <small class="text-muted fw-normal"></small></h5>
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        <p class="text-muted fs-14 mb-0">{{job.company}}</p>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i>{{job.location}}</p>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <p class="text-muted fs-14 mb-0"><i class="uil uil-wallet"></i>{{job.salary|default_if_none:""}}</p>
                                                    </li>
                                                </ul>
                                                <div class="mt-2">
                                                    <span class="badge bg-soft-success mt-1">{{job.contract_type|default_if_none:""}}</span>
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                    <div class="favorite-icon">
                                        <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                                    </div>
                                </div>
                                <div class="p-3 bg-light">
                                    <div class="row justify-content-between">
                                        <div class="col-md-8">
                                            <div>
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item"><i class="uil uil-tag"></i> Keywords :</li>
                                                    {% for keyword in keywords %}
                                                        <li class="list-inline-item"><a href="javascript:void(0)" class="primary-link text-muted">{{keyword}}</a>,</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        {% comment %} <div class="col-md-3">
                                            <div class="text-md-end">
                                                <a href="javascript:void(0)" class="primary-link">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                            </div>
                                        </div> {% endcomment %}
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                            </div>
                            <!--end job-box-->
                        {% endfor %}
                    </div>

                    <div class="text-center mt-4">
                        <a href="job-list.html" class="primary-link form-text">View More <i class="mdi mdi-arrow-right"></i></a>
                    </div>

                </div><!--end col-->

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <!--start side-bar-->
                    <div class="side-bar ms-lg-4">
                        <div class="card job-overview">
                            <div class="card-body p-4">
                                <h6 class="fs-17">Job Overview</h6>
                                <ul class="list-unstyled mt-4 mb-0">
                                    <li>
                                        <div class="d-flex mt-4">
                                            <i class="uil uil-user icon bg-soft-primary"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Job Title</h6>
                                                <p class="text-muted mb-0">{{job.title}}</p> 
                                            </div>
                                        </div>
                                    </li>
                                    {% comment %} <li>
                                        <div class="d-flex mt-4">
                                            <i class="uil uil-star-half-alt icon bg-soft-primary"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Experience</h6>
                                                <p class="text-muted mb-0"> 0-3 Years</p> 
                                            </div>
                                        </div>
                                    </li> {% endcomment %}
                                    <li>
                                        <div class="d-flex mt-4">
                                            <i class="uil uil-location-point icon bg-soft-primary"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Location</h6>
                                                <p class="text-muted mb-0">{{job.location}}</p> 
                                            </div>
                                        </div>
                                    </li>
                                    {% if job.salary != None %}
                                    <li>
                                        <div class="d-flex mt-4">
                                            <i class="uil uil-usd-circle icon bg-soft-primary"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Offered Salary</h6>
                                                <p class="text-muted mb-0">{{job.salary}}</p> 
                                            </div>
                                        </div>
                                    </li>
                                    {% endif %}
                                    
                                    {% comment %} <li>
                                        <div class="d-flex mt-4">
                                            <i class="uil uil-graduation-cap icon bg-soft-primary"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Qualification</h6>
                                                <p class="text-muted mb-0">Bachelor Degree</p> 
                                            </div>
                                        </div>
                                    </li> {% endcomment %}
                                    {% comment %} <li>
                                        <div class="d-flex mt-4">
                                            <i class="uil uil-building icon bg-soft-primary"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Industry</h6>
                                                <p class="text-muted mb-0">Private</p> 
                                            </div>
                                        </div>
                                    </li> {% endcomment %}
                                    <li>
                                        <div class="d-flex mt-4">
                                            <i class="uil uil-history icon bg-soft-primary"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Date Posted</h6>
                                                <p class="text-muted mb-0">{{job.date_posted}}</p> 
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="mt-3">
                                    <a href="{{job.url_link}}" data-bs-toggle="modal" class="btn btn-primary btn-hover w-100 mt-2">Apply Now <i class="uil uil-arrow-right"></i></a>
                                    {% comment %} <a href="bookmark-jobs.html" class="btn btn-soft-warning btn-hover w-100 mt-2"><i class="uil uil-bookmark"></i> Add Bookmark</a> {% endcomment %}
                                </div>
                            </div><!--end card-body-->
                        </div><!--end job-overview-->

                        <div class="card company-profile mt-4">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <img src="{{job.logo}}" alt="" class="img-fluid rounded-3">

                                    <div class="mt-4">
                                        <h6 class="fs-17 mb-1">{{job.company}}</h6>
                                        {% comment %} <p class="text-muted">Since July 2017</p> {% endcomment %}
                                    </div>
                                </div>
                                <ul class="list-unstyled mt-4">
                                    {% comment %} <li>
                                        <div class="d-flex">
                                            <i class="uil uil-phone-volume text-primary fs-4"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Phone</h6>
                                                <p class="text-muted fs-14 mb-0">+589 560 56555</p>
                                            </div>
                                        </div>
                                    </li> {% endcomment %}
                                    {% comment %} <li class="mt-3">
                                        <div class="d-flex">
                                            <i class="uil uil-envelope text-primary fs-4"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Email</h6>
                                                <p class="text-muted fs-14 mb-0">pixltechnology@info.com</p>
                                            </div>
                                        </div>
                                    </li> {% endcomment %}
                                    {% comment %} <li class="mt-3">
                                        <div class="d-flex">
                                            <i class="uil uil-globe text-primary fs-4"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Website</h6>
                                                <p class="text-muted fs-14 text-break mb-0">www.Jobcytechnology.pvt.ltd.com</p>
                                            </div>
                                        </div>
                                    </li> {% endcomment %}
                                    <li class="mt-3">
                                        <div class="d-flex">
                                            <i class="uil uil-map-marker text-primary fs-4"></i>
                                            <div class="ms-3">
                                                <h6 class="fs-14 mb-2">Location</h6>
                                                <p class="text-muted fs-14 mb-0">{{job.location}}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                {% comment %} <div class="mt-4">
                                    <a href="" class="btn btn-primary btn-hover w-100 rounded"><i class="mdi mdi-eye"></i> View Profile</a>
                                </div> {% endcomment %}
                            </div>
                        </div>

                        {% comment %} <div class="mt-4">
                            <h6 class="fs-16 mb-3">Job location</h6>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830869428!2d-74.119763973046!3d40.69766374874431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1628067715234!5m2!1sen!2sin" style="width:100%"  height="250" allowfullscreen="" loading="lazy"></iframe>
                        </div> {% endcomment %}
                    </div>
                    <!--end side-bar-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- START JOB-DEATILS -->
{% endblock page-content %}